.App {
    text-align: center;
}

.nav {
    position: absolute;
    right: 0;
    justify-content: space-between;
    background: linear-gradient(286.21deg, #4E76FF 4.51%, #3DA6FF 95.49%);
    padding: 8px;
    border-radius: 12px;
}

a {
    right: auto;
    color: azure;
    text-decoration:none;
    display: flex;
    margin: 12px;
}
